html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.landing {
  padding: 50px 20px 100px 15px;
  background: #1c1a19;
  background-image: url("../assets/art.png");
  background-size: 150px 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hamburger {
  padding-right: 30px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  position: absolute;
  background: #3c3a39;
}

header a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.headline {
  font-style: normal;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  margin-top: 50px;
  margin-bottom: 1px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-decoration: none;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 1px;
  color: #fff5e1;
}

.job-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: white;
}

.links * {
  display: flex;
  gap: 20px;
}

.works-header {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.works-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 15px;
}

.item1 img {
  border: 10px solid rgb(137, 11, 95);
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

.item2 {
  padding: 1px;
  margin: 0;
}

.item3 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  font-size: 11px;
}

.languages {
  display: flex;
  align-items: left;
  gap: 5px;
}

.languages p {
  border: 1px solid black;
  padding: 2px;
  justify-content: space-between;
  flex: none;
}