html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
}

section {
  margin: 0;
  padding-left: 5px;
  padding-right: 0;
}

.landing {
  padding: 50px 20px 100px 15px;
  background: #1c1a19;
  background-image: url("../assets/art.png");
  background-size: 150px 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hamburger {
  padding-right: 30px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  position: absolute;
  background: #3c3a39;
}

header a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.headline {
  font-style: normal;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  margin-top: 50px;
  margin-bottom: 1px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-decoration: none;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 1px;
  color: #fff5e1;
}

.job-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: white;
}

.links * {
  display: flex;
  gap: 20px;
}

.works-header {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.works-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.posts {
  display: grid;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
}

.posts h2 {
  font-family: 'Crete Round', sans-serif;
}

.item1 img {
  border: 10px solid #ffc744;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

.item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item2 p {
  padding-bottom: none;
  margin: none;
}

.languages {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 0 15px 0 15px;
  font-family: 'Poppins', sans-serif;
}

.languages li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-left: 0;
}

.projects-cta {
  background-color: #ff6b00;
  border: none;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
}

.multi {
  padding-top: 10px;
  padding-left: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
  padding-top: 50px;
  padding-bottom: 0;
  background-image: url("../assets/card.png");
  color: white;
}

.cards h2,
.cards p {
  padding: 0 15px 0 15px;
}

.cards-cta {
  background-color: #ff6b00;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
  padding-left: 0;
}

.about {
  padding: 50px 15px 100px 15px;
  background: #1c1a19;
  background-image: url("../assets/Frame.png");
  background-size: 100px 150px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.lang-framework {
  display: flex;
  background: #1c1a19;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
}

.info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  justify-items: center;
}

.form h2 {
  justify-self: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #172b4d;
}

.form input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid grey;
}

.form button {
  align-self: center;
  background-color: #ff6b00;
  border: none;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
}

.contact-me a {
  align-self: center;
}

textarea {
  border: none;
  background-color: #fbf8f7;
  font-family: 'Poppins', sans-serif;
}

footer {
  display: flex;
  border-top: 1px solid rgba(185, 185, 185, 0.776);
  justify-content: center;
  padding-top: 15px;
}
