html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
}

section {
  margin: 0;
  padding-left: 5px;
  padding-right: 0;
}

a {
  text-decoration: none;
}

.header {
  padding-left: 0;
}

header a {
  color: #fff5e1;
  display: absolute;
  padding: 10px;
  align-self: center;
  text-decoration: none;
  font-size: 17px;
}

.landing {
  padding: 50px 20px 100px 15px;
  background: #1c1a19;
  background-image: url("../assets/art.png");
  background-size: 150px 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

li {
  list-style: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.hamburger {
  display: block;
  padding-right: 30px;
  cursor: pointer;
}

.hamburger.active {
  margin-top: 10px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #979493;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #979493;
}

.modal-cta {
  background-color: #ff6b00;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.model-langs {
  margin-left: 0;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    font-size: 32px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.3s;
  }

  .topnav {
    position: fixed;
    overflow: hidden;
    padding-top: 10px;
  }

  header li a {
    font-size: 32px;
    gap: 10px;
    text-align: left;
    padding-bottom: 8px;
  }

  #hidemail {
    visibility: hidden;
  }

  .logo.active {
    visibility: hidden;
  }

  .nav-menu.active {
    left: 0;
    font-size: 32px;
    font-weight: 700;
    background: #3c3a39;
  }

  .nav-menu.active .nav-item {
    border-bottom: 1px solid #6f6c6b;
    border-width: 50%;
    padding: 20px;
    margin-right: 80px;
  }
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  position: fixed;
  background: #3c3a39;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.headline {
  font-style: normal;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  margin-top: 50px;
  margin-bottom: 1px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-decoration: none;
}

.party-text {
  background-color: #1c1a19;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-color: rgb(156, 198, 30);
    color: black;
  }

  25% {
    background-color: #ff6b00;
    color: #1c1a19;
  }

  50% {
    background-color: rgb(255, 255, 255);
    color: black;
  }

  100% { background-color: rgb(0, 92, 128); }
}

.job-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 1px;
  color: #fff5e1;
}

.job-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: white;
}

.links ul {
  display: flex;
  gap: 20px;
}

.works-header {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.desktop-title {
  display: none;
}

.works-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.posts {
  display: grid;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
}

.posts h2 {
  font-family: 'Crete Round', sans-serif;
}

.item1 img {
  border: 10px solid #ffc744;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

.item1:hover {
  transform: scale(1.05);
}

.item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item2 p {
  padding-bottom: none;
  margin: none;
}

#hidden-line {
  display: none;
}

.languages {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 0 15px 0 15px;
  font-family: 'Poppins', sans-serif;
}

.languages li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-left: 0;
}

.projects-cta {
  background-color: #ff6b00;
  border: none;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
}

.multi {
  gap: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
  padding-top: 50px;
  padding-bottom: 0;
  background-image: url("../assets/card.png");
  color: white;
}

.cards h2,
.cards p {
  padding: 0 15px 0 15px;
}

.cards-cta {
  background-color: #ff6b00;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
  padding-left: 0;
}

.about {
  padding: 25px 15px 40px 15px;
  background: #1c1a19;
  background-image: url("../assets/Frame.png");
  background-size: 120px 170px;
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.about > hr {
  margin-top: 120px;
}

.lang-framework {
  background: #1c1a19;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-bottom: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
}

.info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 11px;
  justify-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  justify-items: center;
}

.form-box h2 {
  justify-self: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #172b4d;
}

.form input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid grey;
}

.form button {
  align-self: left;
  background-color: #ff6b00;
  border: none;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
}

.form-post {
  display: flex;
  flex-direction: row;
}

.error {
  color: #ff3434;
  padding: 10px;
  font-size: 11px;
  font-weight: 900;
  margin: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.contact-me a {
  align-self: center;
}

textarea {
  border: none;
  background-color: #fbf8f7;
  font-family: 'Poppins', sans-serif;
}

footer {
  display: flex;
  border-top: 1px solid rgba(185, 185, 185, 0.776);
  justify-content: center;
  padding-top: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(0.5);
  background-color: rgba(14, 14, 14, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  width: 80%;
}

.modal-close-btn{
  font-size: 25px;
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-langs {
  display: flex;
  justify-items: flex-start;
  padding-left: 0;
  cursor: pointer;
}

.modal-langs li {
  align-self: flex-start;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #979493;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-details{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.modal-image {
  max-width: 100%;
}

.modal-buttons {
  cursor: pointer;
}

@media (min-width: 768px) {
  body * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
  }

  .topnav {
    display: flex;
    justify-items: flex-end;
    padding-left: 125px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    padding-left: 100px;
  }

  .bar {
    display: none;
  }

  .landing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background: #1c1a19;
    gap: 80px;
    background-image: url("../assets/art.png");
    background-size: 350px 450px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .container {
    justify-self: flex-end;
    padding: 50px 350px 50px 0;
    width: 400px;
  }

  .item2 ul {
    padding: 0;
  }

  .item2 {
    padding-top: 50px;
    width: 400px;
    font-size: 14px;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .works-title {
    display: none;
  }

  .desktop-title {
    display: flex;
    font-family: 'Crete Round', sans-serif;
  }

  .cards ul {
    display: grid;
  }

  .info ul {
    display: flex;
    align-items: flex-start;
    justify-items: center;
  }

  footer > .links ul {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  footer img {
    filter: grayscale(100%);
  }

  .landing > .links ul {
    flex-direction: column;
    align-self: center;
    flex-basis: 20px;
    justify-self: center;
    padding: 140px 0 0 20px;
  }

  .works-header {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
  }

  .works-header h1 {
    justify-self: center;
    align-self: center;
    font-size: 30px;
  }

  .first-post {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: start;
    padding-left: 80px;
    padding-right: 80px;
    gap: 10px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
    padding-left: 80px;
    padding-right: 80px;
    gap: 10px;
  }

  .cards {
    display: grid;
    align-content: end;
    gap: 20px;
    height: 300px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.222) 0%, rgb(0, 0, 0) 100%), url('../assets/hiddencard.png');
  }

  .cards:hover {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('../assets/hiddencard.png');
    color: rgb(0, 0, 0);
  }

  .cards a {
    display: none;
  }

  .cards .languages {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 10px;
  }

  .card h2 {
    align-self: start;
  }

  .cards p {
    align-self: end;
  }

  .cards .languages li {
    background-color: rgba(79, 79, 79, 0.666);
    align-self: end;
  }

  .item1 > img {
    float: left;
    width: 100%;
  }

  .projects-cta {
    align-self: flex-start;
    justify-self: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 80px 0 80px;
    gap: 30px;
    background-image: url("../assets/desktopabout.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 60%;
  }

  .about hr {
    width: 100%;
    gap: 60px;
    margin-top: 50px;
    align-self: flex-start;
  }

  .about p {
    width: 430px;
  }

  .lang-framework {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .info h2 {
    font-size: 20px;
  }

  .info {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .title1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .title2 {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .title3 {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .form-box {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    padding: 50px 80px 80px 80px;
    gap: 20px;
  }

  .form-box h2 {
    width: 55%;
    justify-self: center;
    text-align: left;
    color: rgb(0, 0, 0);
  }

  .form {
    align-self: center;
    justify-self: center;
    width: 50%;
  }

  #hidden-line {
    display: block;
    align-self: center;
    height: 1px;
    width: 70%;
    gap: 10px;
  }

  .form button {
    align-self: flex-start;
  }

  .cards:hover h2,
  .cards:hover p,
  .cards:hover ul {
    display: none;
  }

  .cards:hover a {
    display: flex;
    padding-left: 5px;
  }

  .modal-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .modal-description {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
