html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
}

section {
  margin: 0;
  padding-left: 5px;
  padding-right: 0;
}

.nav-menu {
  display: none;
}

.landing {
  padding: 50px 20px 100px 15px;
  background: #1c1a19;
  background-image: url("../assets/art.png");
  background-size: 150px 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hamburger {
  padding-right: 30px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  position: absolute;
  background: #3c3a39;
}

header a {
  color: white;
  display: absolute;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.headline {
  font-style: normal;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  margin-top: 50px;
  margin-bottom: 1px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-decoration: none;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 1px;
  color: #fff5e1;
}

.job-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: white;
}

.links ul {
  display: flex;
  gap: 20px;
}

.works-header {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.works-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.posts {
  display: grid;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
}

.posts h2 {
  font-family: 'Crete Round', sans-serif;
}

.item1 img {
  border: 10px solid #ffc744;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

.item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item2 p {
  padding-bottom: none;
  margin: none;
}

.languages {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 0 15px 0 15px;
  font-family: 'Poppins', sans-serif;
}

.languages li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-left: 0;
}

.projects-cta {
  background-color: #ff6b00;
  border: none;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
}

.multi {
  gap: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
  padding-top: 50px;
  padding-bottom: 0;
  background-image: url("../assets/card.png");
  color: white;
}

.cards h2,
.cards p {
  padding: 0 15px 0 15px;
}

.cards-cta {
  background-color: #ff6b00;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
  padding-left: 0;
}

.about {
  padding: 25px 15px 40px 15px;
  background: #1c1a19;
  background-image: url("../assets/Frame.png");
  background-size: 120px 170px;
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.about > hr {
  margin-top: 120px;
}

.lang-framework {
  background: #1c1a19;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-bottom: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
}

.info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 11px;
  justify-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  justify-items: center;
}

.form-box h2 {
  justify-self: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #172b4d;
}

.form input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid grey;
}

.form button {
  align-self: center;
  background-color: #ff6b00;
  border: none;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  cursor: pointer;
}

.contact-me a {
  align-self: center;
}

textarea {
  border: none;
  background-color: #fbf8f7;
  font-family: 'Poppins', sans-serif;
}

footer {
  display: flex;
  border-top: 1px solid rgba(185, 185, 185, 0.776);
  justify-content: center;
  padding-top: 15px;
}

@media (min-width: 768px) {
  body * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
  }

  .topnav {
    display: flex;
    justify-items: flex-end;
    padding-left: 125px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    padding-left: 100px;
  }

  .bar {
    display: none;
  }

  .landing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background: #1c1a19;
    gap: 80px;
    background-image: url("../assets/art.png");
    background-size: 350px 450px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .container {
    justify-self: flex-end;
    padding: 50px 350px 50px 0;
    width: 400px;
  }

  .item2 ul {
    padding: 0;
  }

  .info ul {
    display: flex;
    align-items: flex-start;
    justify-items: center;
  }

  footer > .links ul {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .landing > .links ul {
    flex-direction: column;
    align-self: center;
    flex-basis: 20px;
    justify-self: center;
    padding: 140px 0 0 20px;
  }

  .works-header {
    display: flex;
  }

  .posts {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    gap: 20px;
  }

  .item1 img {
    width: auto;
  }

  .item2 {
    gap: 15px;
    width: 600px;
    align-self: center;
  }

  .projects-cta {
    align-self: flex-start;
    justify-self: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 80px 0 80px;
    gap: 30px;
    background-image: url("../assets/desktopabout.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 60%;
  }

  .about p {
    width: 50%;
  }

  .about hr {
    width: 100%;
    gap: 60px;
    margin-top: 50px;
    align-self: flex-start;
  }

  .lang-framework {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .info h2 {
    font-size: 20px;
  }

  .info {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .title1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .title2 {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .title3 {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .form-box {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    padding: 50px 80px 80px 80px;
    gap: 20px;
  }

  .form-box h2 {
    width: 55%;
    justify-self: center;
    text-align: left;
    color: rgb(0, 0, 0);
  }

  .form {
    align-self: center;
    justify-self: center;
    width: 100%;
  }

  .form button {
    align-self: flex-start;
  }
}
