/* stylelint-disable font-family-no-missing-generic-family-keyword */
body {
  background: #1c1a19;
}

.img {
  position: absolute;
  width: 406.89px;
  height: 312.03px;
  left: 620.1px;
  top: 317px;
}

a {
  text-decoration: none;
}

.topnav {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  padding: 0;
  width: 100%;
  position: fixed;
  background: #3c3a39;
}

.topnav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.menu {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-image: url("./assets");
}

.headline {
  font-style: normal;
  font-family: 'Crete Round';
  font-weight: 400;
  font-size: 56px;
  margin-top: 50px;
  margin-bottom: 1px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-decoration: none;
}

.job-title {
  font-family: 'Roboto', 'San serif';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 1px;
  color: #fff5e1;
}

.job-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
